footer.site-footer {
	padding: 25px 0;
}

.site-footer__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include media("<phone-land"){
		flex-direction: column;
		justify-items: center;
		row-gap: 25px;

		.site-footer__item-info{
			text-align: center;
		}
	}
}

.site-footer__item{
	font-size: 13px;
	font-weight: 500;

	.copyright{
		font-weight: 600;
		margin-bottom: 6px;
 	}

	.address{
	 a{
		color: $color__link;
		&:hover{
			text-decoration: underline;
		}
	 }
	}

	ul.footer-menu{
		font-weight: 600;
		display: flex;

		li{
			padding: 10px 0;
			&::after{
				content: "|";
				padding: 0 7px;
			}

			&:last-of-type{
				&::after{
					display: none;
				}
			}
		}
	}
}