.site-header__inner{
  position: relative;
  @include media("<phone-land"){
    padding-top: 18px ;
    padding-bottom: 18px;
    display: flex;

  }
}

.site-header__logo{
  position: absolute;
  top: 10px;
  padding: 8px;
  z-index: 10;
  background-color: white;

  @include media("<tablet"){
    background-color: transparent;

    img{
      width: 65%;
    }
  }

  @include media("<phone-land"){
    top: 0px;
    padding: 4px;
  }

  @include media('<phone'){
    img{
      width: 60%;
    }
  }

}

.site-header__menu {

  >ul{
    display: flex;
    justify-content: flex-end;

    >.menu-item{
      padding: 41px 22px;

      @include media("<tablet"){
        padding: 41px 13px;
      }

      @include media("<phone-land"){
        padding: 8px;
      }

      >a{
        font-size: 13px;
        font-weight: 900;
        text-transform: uppercase;
        color: $color__grey;
        transition: color .4s;
        &:hover{
          color: $color__link;
        }
        &::before{
          display: none;
        }
      }

      &.current-menu-item{

        >a{
          color: $color__link;
        }
      }
    }

    @include media("<phone-land"){
      position: absolute;
      width: 0%;
      background-color: white;
      z-index: 9;
      left: -400px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      min-height: 100vh;
      height: 100vh;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s , width .5s ;
    }

    &.show{
      width: 100%;
      left: 0px;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.mobile-container{

  .mobile-info-bar{
    display: none;
    @include media("<phone-land"){
      display: block;
      position: fixed;
      z-index: 10;
      top: calc(100% + 252px);
      left: 0px;
      width: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s , top .5s;
    }

    &.show{
      top: calc(100% - 143px);
      opacity: 1;
      pointer-events: all;
    }
  }
  .mobile-info-bar__grid{
    padding: 10px 0;
  }

  .mobile-info-bar__item{
    padding: 10px 0;
    display: flex;
    align-items: center;
    column-gap: 4px;
    a, p{
      font-size: 14px;
    }
  }
}

.site-header__hamburger{
  display: none;
  margin-left: auto;
  @include media("<phone-land"){
    display: block;
  }
}
