.main-info-bar__grid{
  display: flex;
}

.main-info-bar__item{
  padding: 16px 30px;
  border-right: 1px solid white;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;

  @include media("<tablet"){
    padding: 13px 20px;
  }

  @include media("<phone-land"){
    display: none;
  }

  i{
    margin-right:10px;
    font-size: 23px;
  }

  &:last-of-type{
    margin-left: auto;
    border-left: 1px solid white;

    @include media("<phone-land"){
      display: flex;
      
    }

    img{
      display: inline-block;
      margin-right: 2px;
    }
  }

  [data-micromodal-trigger]{
    @include animated-underline;
  }

  [data-micromodal-trigger]:hover{
    @include animated-underline-hover;
  }
}

.language-menu{
  a::before{
    display: none;
  }
}