.main-error{

  .block-hero-page{
    text-align: center;
  }

  #section-error-page{
    padding: 60px 0;

    p{
      font-size: 16px;
      font-weight: 500;
      font-family: $header__fontname;
    }
  }
}